
<body>
    <!-- put search input using form with type search from angular -->
    <img class="homeImage" src="https://www.freepnglogos.com/uploads/pokemon-logo-text-png-7.png" alt="background-image">

    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
        <div>
            <mat-form-field>
                <input matInput placeholder="Search" formControlName="Name" type="search" />
            </mat-form-field>
        </div>
    </form>
</body>

<style>
    .homeImage{
        height:300px;
        width:1000px;
        margin-left: 15em;
    }
    body{
        height: 657px;
        width: auto;
        background-image: url(http://getwallpapers.com/wallpaper/full/f/2/4/53829.jpg);
        
        }
    
    
</style>
